name: Spring Boot CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - id: java_setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - run: mvn -B clean install -Dspring.profiles.active=test

  code-review:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - run: mvn checkstyle:checkstyle

  security-scan:
    runs-on: ubuntu-latest
    needs: build-test

    steps:


      - name: Install Snyk CLI
        run: npm install -g snyk

      - name: Run Snyk scan
        run: snyk test --all-projects --severity-threshold=medium
        env:
          JAVA_HOME: ${{ steps.java_setup.outputs.java-home }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
