name: Spring Boot CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - id: java_setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - run: mvn -B clean install -Dspring.profiles.active=test

  code-review:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - run: mvn checkstyle:checkstyle

  security-scan:
    runs-on: ubuntu-latest
    needs: build-test
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - id: java_setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Export Java Home
        run: echo "JAVA_HOME=${JAVA_HOME}" >> $GITHUB_ENV

      - name: Run Snyk Maven Scan
        uses: snyk/actions/maven@main
        with:
          args: test --all-projects --severity-threshold=medium
        env:
          JAVA_HOME: ${{ env.JAVA_HOME }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
