name: Spring Boot CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Build and run tests
        run: mvn -B clean install -Dspring.profiles.active=test

  code-review:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Run static code analysis (Checkstyle)
        run: mvn checkstyle:checkstyle

  security-scan:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Check SNYK_TOKEN presence
        run:
          echo "Token length: ${#SNYK_TOKEN}"
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}


      - name: Run Snyk Maven Scan
        uses: snyk/actions/maven@main
        with:
          args: test --all-projects --severity-threshold=medium
        env:
          JAVA_HOME: /opt/hostedtoolcache/jdk/21/x64
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
